body {
<<<<<<< HEAD
  color: #d34d9c; }
=======
  color: #731842; }
>>>>>>> 862c4c72325fc3148cc1156979d52ad1fc7a02e6

.page-content {
  padding: 100px 0;
  /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
  background-image: url("img/bg.jpg"); }

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6
.small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5
small, h6 .small, h6 small {
<<<<<<< HEAD
  color: #c67ba5; }

.navbar-default .navbar-nav li > a {
  color: #fff;
  background-color: #d34d9c; }
.navbar-default .navbar-nav .open > a:focus,
.navbar-default .navbar-nav .open > a:hover {
  background-color: #ae007b; }

.dropdown-header {
  color: #ffc6d2;
  font-size: 14px; }

.dropdown-menu {
  background-color: #d34d9c; }
  .dropdown-menu li > a {
    color: #fff; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ae007b;
  color: #fff; }
=======
  color: #C67BA5; }

.navbar-default .navbar-nav li > a {
  color: #731842; }
.navbar-default .navbar-nav .open > a:focus,
.navbar-default .navbar-nav .open > a:hover {
  background-color: #C67BA5;
  color: #731842; }

.dropdown-header {
  color: #4A1031;
  font-size: 14px; }

.dropdown-menu > li > a {
  color: #A54A7B; }
>>>>>>> 862c4c72325fc3148cc1156979d52ad1fc7a02e6

.sub {
  font-size: 12px; }

<<<<<<< HEAD
.bg-danger {
  background-color: #d34d9c; }
=======
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #C67BA5; }
>>>>>>> 862c4c72325fc3148cc1156979d52ad1fc7a02e6
